{% extends 'layout.html' %}

{% block content %}
 {% include 'navbar.html' %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6" id="b_image">
                <img src="{{ url_for('static', filename='images/' + product.image_1) }}" alt="{{ product.name }}"
                     style="height: 200px; object-fit:scale-down; object-position: center">
            </div>
            <div class="col-md-6">
                <h4>{{ product.name }}</h4>
                <hr>
                <h2>{{ product.price }}₽</h2>
                {% if product.discount > 0 %}
                    <h2>{{ product.discount }}</h2>
                {% endif %}
                <form action="{{ url_for('add_to_cart') }}" method="POST">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <label for=""> Количество: </label>
                    <input type="number" name="quantity" id="" value="1" min="1" max="{{ product.stock }}">
                    <button type="submit" class="btn btn-sm btn-success">Добавить в корзину</button>

                </form>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3" id="s_image">
                <img src="{{ url_for('static', filename='images/' + product.image_1) }}" alt="{{ product.name }}"
                     class="p-3 img-hover" width="100px">
                <img src="{{ url_for('static', filename='images/' + product.image_2) }}" alt="{{ product.name }}"
                     class="p-3" width="100px">
                <img src="{{ url_for('static', filename='images/' + product.image_3) }}" alt="{{ product.name }}"
                     class="p-3" width="100px">

            </div>
        </div>
        <div class="row mt-5">
            <hr>
            <b>Описание</b>
            <p>{{ product.description }}</p>
        </div>
    </div>
    <script>
        var b_image = document.getElementById('b_image');
        var s_image = document.getElementById('s_image').getElementsByTagName('img');
        for (var i = 0; i < s_image.length; i++) {
            s_image[i].addEventListener('click', full_image);
        }

        function full_image() {
            var ImageSRC = this.getAttribute('src');
            b_image.innerHTML = "<img src=" + ImageSRC + " style='height: 200px; object-fit:scale-down; object-position: center'>";
        }

    </script>
{% endblock content %}